body {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #49AA43;
}
 
.home-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url("../images/home/twelfth.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex; 
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.wrapper {
    background-color: #f6f2e8a3;
    margin-top: 5rem;
}


.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.jumbotron {
    padding: 0;
}

#timer  {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: #49AA43;
} 

#players img {
    border-radius: 50%;
}  


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #49AA43;;
    color: #fafafa;
}

label {
    display: none;
}

div#map {min-height: 360px;}

.popup-header {
    color: #49AA43;
    text-transform: uppercase;
    margin: 0 auto 8px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
}

.popup-content {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 5px 5px;
    margin-bottom: 8px;
    line-height: 1.7;
    text-align: center;
}

.popup-link-promo,
.popup-link {
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 0 5px;
    color: #49AA43;
    text-decoration: none;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.img-fluid {
transition: .2s ease-in-out;
}
.img-fluid:hover {
transform: scale(1.2);
}