body {
    font-family: "Roboto", sans-serif;
}
 
.home-container {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url("../images/home/twelfth.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex; 
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.wrapper {
    background-color: #f6f2e8a3;
    margin-top: 5rem;
}


.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.jumbotron {
    padding: 0;
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
} 